# AWS Credentials and paths for S3 access
AWS_ACCESS_KEY_ID=<your_aws_access_key_id>
AWS_SECRET_ACCESS_KEY=<your_aws_secret_access_key>
AWS_BUCKET_NAME=ext-msf-recruitment-s3
AWS_BUCKET_PATH=ext-user-2
# Define event and collection id of interest
CATALOG_URL="https://maxar-opendata.s3.amazonaws.com/events/catalog.json"
EVENT_NAME="Sudan-flooding-8-22-2022"
COLLECTION_ID=None # We will base ourselves on an area of interest, a collection can be specified if needed
FLOOD_DATE='2022-08-22'
# Maxar asset key for multispectral 8-band/4-band imagery
ASSET_KEY="ms_analytic"
MAX_TILES=2